.image-button {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  --background: transparent; /* Elimina el fondo */
  --box-shadow: none; /* Elimina cualquier sombra */
  --border-width: 0; /* Elimina cualquier borde */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;  /* Ajusta el ancho del botón según se necesite */
  height: 100px; /* Ajusta la altura del botón según se necesite */
}

.button-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para cubrir todo el botón sin distorsión */
  border-radius: 8px; /* Ajusta el radio del borde si es necesario */
}


