<!-- pagina-loading.component.html -->
<div class="loading-container">
  <div class="loading-animation">
    <!-- Aquí puedes añadir tu animación de bolas -->
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
  </div>
  <p>Cargando...</p>
</div>
<div class="aviso-menores">

    <p>La venta de alcohol esta prohibida a menores de 18 años</p>
  </div>

<div class="loading-contador">
  <div *ngIf="countdown > 0">
    <p>Por favor, espere {{ countdown }} segundos.</p>
  </div>
</div>
