<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="centered-title">Carta de Productos</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Carta de Productos</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-button class="image-button" [routerLink]="['/', timestamp, code, 'snacks', { title: 'Snacks' }]">
    <img src="assets/kiosco/categorias/snacks.jpg" class="button-image"/>
  </ion-button>

  <ion-button class="image-button" [routerLink]="['/', timestamp, code, 'chuches', { title: 'Chuches' }]">
    <img src="assets/kiosco/categorias/chuches.jpg" class="button-image"/>
  </ion-button>

  <ion-button class="image-button"[routerLink]="['/',timestamp, code, 'revistas', { title: 'Revistas' }]">
    <img src="assets/kiosco/categorias/revistas.jpg" class="button-image"/>
  </ion-button>

  <ion-button class="image-button"[routerLink]="['/',timestamp, code, 'prensa', { title: 'Prensa' }]">
    <img src="assets/kiosco/categorias/prensa.jpg" class="button-image"/>
  </ion-button>

  <ion-button class="image-button"[routerLink]="['/',timestamp, code, 'recargas', { title: 'Recargas' }]">
    <img src="assets/kiosco/categorias/recargas.jpg" class="button-image"/>
  </ion-button>

  <ion-button class="image-button"[routerLink]="['/',timestamp, code, 'meriendas', { title: 'Meriendas' }]">
    <img src="assets/kiosco/categorias/meriendas.jpg" class="button-image"/>
  </ion-button>

  <ion-button class="image-button"[routerLink]="['/',timestamp, code, 'cromos', { title: 'Cromos' }]">
    <img src="assets/kiosco/categorias/cromos.jpg" class="button-image"/>
  </ion-button>

  <ion-button class="image-button"[routerLink]="['/',timestamp, code, 'caramelos', { title: 'Caramelos' }]">
    <img src="assets/kiosco/categorias/caramelos.jpg" class="button-image"/>
  </ion-button>

  <ion-button class="image-button"[routerLink]="['/',timestamp, code, 'juguetes', { title: 'Juguetes' }]">
    <img src="assets/kiosco/categorias/juguetes.jpg" class="button-image"/>
  </ion-button>

  <ion-button class="image-button"[routerLink]="['/',timestamp, code, 'impresion3d', { title: 'Impresion 3D' }]">
    <img src="assets/kiosco/categorias/impresiones.jpg" class="button-image"/>
  </ion-button>

  <ion-button class="image-button"[routerLink]="['/',timestamp, code, 'bebidas', { title: 'Energéticas' }]">
    <img src="assets/kiosco/categorias/bebidas.jpg" class="button-image"/>
  </ion-button>

</ion-content>

<ion-footer>
  <ion-button expand="block" [routerLink]="['/', timestamp, code, 'kiosco']" class="footer-button">
    <ion-icon name="pricetags-outline" slot="start"></ion-icon>
    Pagina Principal
  </ion-button>
  <ion-toolbar *ngIf="cartItems > 0">
    <ion-button expand="block" [routerLink]="['/',timestamp, code, 'lista-pedido']">
      <ion-icon name="cart-outline" slot="start"></ion-icon>
      Ver Pedido ({{ cartItems }})
    </ion-button>
  </ion-toolbar>
</ion-footer>


