<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/Dreams1.jpg" class="header-image">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="image-container">
    <img src="assets/Kiosco.jpg" class="content-image">
  </div>
  <div class="button-container">
    <ion-button expand="block" [routerLink]="['/', code, 'product-kiosco']" color="light">Promociones</ion-button>
    <ion-button expand="block" [routerLink]="['/', code, 'product-kiosco']" color="light">Carta y Pedidos</ion-button>
  </div>
</ion-content>

<ion-footer>
  <app-navigation-buttons [activePage]="'kiosco'"></app-navigation-buttons>
</ion-footer>
