<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Nuestras Promociones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let promo of promos" style="margin-bottom: 15px;" class="promo-item">
      <ion-img [src]="promo.Imagen" class="promo-img"></ion-img>
      <ion-label>
        <div class="promo-label">{{ promo.Nombre }}</div>
        <div class="promo-description">{{ promo.Descripcion }}</div>
        <div class="promo-price">{{ promo.Precio + "€" }}</div>
        <ion-button expand="block" (click)="incrementQuantity(promo)" class="increment-button">+</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<!-- Botón en la parte inferior para abrir la lista de productos añadidos y volver a la carta -->
<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" [routerLink]="['/', timestamp, code, 'product-heladeria']">
      Ir a carta de Productos
    </ion-button>
  </ion-toolbar>
  <ion-toolbar *ngIf="cartItems > 0">
    <ion-button expand="block" [routerLink]="['/', timestamp, code, 'lista-pedido']">
      <ion-icon name="cart-outline" slot="start"></ion-icon>
      Ver Pedido ({{ cartItems }})
    </ion-button>
  </ion-toolbar>
</ion-footer>
